.row
  .col-sm-12   
    SECTION A
.row
  .col-sm-12  
    Engagement – fun, interesting, customisable, interactive (e.g. sends alerts, messages, reminders, feedback, enables sharing), well-targeted to audience? #{@mars_rating.engagement1}
.row
  .col-sm-12    
    Interest: Is the app interesting to use? Does it use any strategies to increase engagement by presenting its content in an interesting way? #{@mars_rating.engagement2}
.row
  .col-sm-12     
    Customisation: Does it provide/retain all necessary settings/preferences for apps features (e.g. sound, content, notifications, etc.)? #{@mars_rating.engagement3}
.row
  .col-sm-12   
    Interactivity: Does it allow user input, provide feedback, contain prompts (reminders, sharing options, notifications, etc.)? Note: these functions need to be customisable and not overwhelming in order to be perfect. #{@mars_rating.engagement4}
.row
  .col-sm-12   
    Target group: Is the app content (visual information, language, design) appropriate for your target audience? #{@mars_rating.engagement5}


.row
  .col-sm-12   
    SECTION B
.row
  .col-sm-12  
    Functionality – app functioning, easy to learn, navigation, flow logic, and gestural design of app 
.row
  .col-sm-12    
    Performance: How accurately/fast do the app features (functions) and components (buttons/menus) work?  #{@mars_rating.functionality1}
.row
  .col-sm-12    
    Ease of use: How easy is it to learn how to use the app; how clear are the menu labels/icons and instructions? #{@mars_rating.functionality2}
.row
  .col-sm-12    
    Navigation: Is moving between screens logical/accurate/appropriate/uninterrupted; are all necessary screen links present? #{@mars_rating.functionality3}
.row
  .col-sm-12    
    Gestural design: Are interactions (taps/swipes/pinches/scrolles) consistent and intuitive across all components/screens? #{@mars_rating.functionality4}

.row
  .col-sm-12   
    SECTION C
.row
  .col-sm-12  
    Aesthetics – graphic design, overall visual appeal, colour scheme, and stylistic consistency 
.row
  .col-sm-12    
    Layout: Is arrangement and size of buttons/icons/menus/content on the screen appropriate or zoomable if needed? #{@mars_rating.aesthetics1}
.row
  .col-sm-12  
    Graphics: How high is the quality/resolution of graphics used for buttons/icons/menus/content? #{@mars_rating.aesthetics2}
.row
  .col-sm-12    
    Visual appeal: How good does the app look? #{@mars_rating.aesthetics3}


.row
  .col-sm-12   
    SECTION D
.row
  .col-sm-12  
    Information – Contains high quality information (e.g. text, feedback, measures, references) from a credible source. Select N/A if the app component is Irrelevant 
  .col-sm-12  
    Accuracy of app description (in app store): Does app contain what is described? #{@mars_rating.information1}   
.row
  .col-sm-12  
    Goals: Does app have specific, measurable and achievable goals (specified in app store description or within the app itself)?  #{@mars_rating.information2}   
.row
  .col-sm-12  
    Quality of information: Is app content correct, well written, and relevant to the goal/topic of the app?  #{@mars_rating.information3}   
.row
  .col-sm-12  
    Quantity of information: Is the extent coverage within the scope of the app; and comprehensive but concise?  #{@mars_rating.information4}   
.row
  .col-sm-12  
    Visual information: Is visual explanation of concepts – through charts/graphs/images/videos, etc. – clear, logical, correct?  #{@mars_rating.information6}       
.row
  .col-sm-12  
    Evidence base: Has the app been trialled/tested; must be verified by evidence (in published scientific literature)?   #{@mars_rating.information7}   


.row
  .col-sm-12   
    SECTION E    
.row
  .col-sm-12  
    Subjective
.row
  .col-sm-12  
    Engagement – fun, interesting, customisable, interactive (e.g. sends alerts, messages, reminders, feedback, enables sharing), well-targeted to audience  #{@mars_rating.subjective1}   
.row
  .col-sm-12    
    Interest: Is the app interesting to use? Does it use any strategies to increase engagement by presenting its content in an interesting way? #{@mars_rating.subjective2}  
.row
  .col-sm-12     
    Customisation: Does it provide/retain all necessary settings/preferences for apps features (e.g. sound, content, notifications, etc.)? #{@mars_rating.subjective3}  
.row
  .col-sm-12  
    Engagement – fun, interesting, customisable, interactive (e.g. sends alerts, messages, reminders, feedback, enables sharing), well-targeted to audience? #{@mars_rating.subjective4}  

.row
  .col-sm-12   
    SECTION F    
.row
  .col-sm-12  
    SCI + U Specific
.row
  .col-sm-12  
    Engagement – fun, interesting, customisable, interactive (e.g. sends alerts, messages, reminders, feedback, enables sharing), well-targeted to audience #{@mars_rating.appspecific1}  

.row
  .col-sm-12    
    Interest: Is the app interesting to use? Does it use any strategies to increase engagement by presenting its content in an interesting way? #{@mars_rating.appspecific2} 

.row
  .col-sm-12     
    Customisation: Does it provide/retain all necessary settings/preferences for apps features (e.g. sound, content, notifications, etc.)? #{@mars_rating.appspecific3} 
 
.row
  .col-sm-12  
    Engagement – fun, interesting, customisable, interactive (e.g. sends alerts, messages, reminders, feedback, enables sharing), well-targeted to audience #{@mars_rating.appspecific4} 

.row
  .col-sm-12    
    Interest: Is the app interesting to use? Does it use any strategies to increase engagement by presenting its content in an interesting way? #{@mars_rating.appspecific5} 

.row
  .col-sm-12     
    Customisation: Does it provide/retain all necessary settings/preferences for apps features (e.g. sound, content, notifications, etc.)? #{@mars_rating.appspecific6} 

.row
  .col-sm-12 
    .title Additional Comments to Share? 
    %p
    #{@mars_rating.feedback} 





