.user
  %h2 #{user.first_name} #{user.last_name}
  %p Location: #{user.location}
  %p Injury Level: #{user.injury_level}
  %p Age: #{user.age}  
  %p Job Title: #{user.job_title}
  %p Biography: #{user.blurb}
  %br
  %br