%nav.navbar.navbar-default.navbar-fixed-bottom
  .footer-nav-col.Bladder
    = link_to "Bladder", "/departments/4"    
  .footer-nav-col.Bowel
    = link_to "Bowel", "/departments/1"    
  .footer-nav-col.Exercise
    = link_to "Exercise", "/departments/3"    
  .footer-nav-col.Skin
    = link_to "Skin", "/departments/2"    
  .footer-nav-col.Sexuality
    = link_to "Sex", "/departments/7"    
  .footer-nav-col.Diet
    = link_to "Diet", "/departments/9"    
  .footer-nav-col.Pain
    = link_to "Pain", "/departments/10"    
  .footer-nav-col.Family
    = link_to "Family", "/departments/11"    
            

